.btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;

  letter-spacing: 3px;
  background-color: #d9d9d9;

  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #acacac;
}

/* 상태 변화 */
.btn.PROCESS {
  color: white;
  background-color: #acacac;
}
.btn.SUCCESS {
  color: white;
  background-color: #24b600;
}
