body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  box-sizing: border-box;
}
